%h2
  .milestones_title 
    #{@baby.name.capitalize}'s Milestones
  %ul.milestones
    - @milestones.each do |milestone|
      -if achievement = @baby_achievements.first(:milestone_id => milestone.id)
        = haml :milestone, locals: {baby: @baby, milestone: milestone, reached_at: achievement.reached_at}
      -else
        = haml :milestone, locals: {baby: @baby, milestone: milestone, reached_at: nil}
  %form.delete{ :action => "/baby/#{@baby.id}", :method => "POST"}
    %input{ :type => "hidden", :name => "_method", :value => "DELETE"}
    %input{ :type => "submit", :value => "Quit being a baby!"}
  .nav-link
    %a{:title => "Leader Board", :href => "/"} Leader board

