%h2
  .babies_title 
    Babies
  %ul.babies
    - @babies.each do |baby|
      %li
        %a{:title => baby.name, :href => "baby/#{baby.id}"} #{baby.name.capitalize}

%h2
  .new_milestone_title 
    New Baby
%form.new{ :action => "/new/baby", :method => "post"}
  %input{:type => "text", :name => "baby[name]", :class => "field"}
  %input{:type => "date", :name => "baby[birthdate]", :class => "field"}
  %input{:type => "submit", :value => "Add", :class => "button"}