%h2 
  Leila's milestones
  %ul
    - @milestones.each do |milestone|
      %li
        = milestone.name
        = milestone.reached_at

%h2 
  New milestone
%form{ :action => "/", :method => "post"}
  %input{:type => "text", :name => "milestone[name]"}
  %input{:type => "submit", :value => "Add Milestone", :class => "button"}