%h2
  .milestones_title 
    Leila's Milestones
  %ul.milestones
    - @milestones.each do |milestone|
      = haml :milestone, locals: {milestone: milestone}

%h2
  .new_milestone_title 
    New Milestone
%form.new{ :action => "/", :method => "post"}
  %input{:type => "text", :name => "milestone[name]", :class => "field"}
  %input{:type => "submit", :value => "Add", :class => "button"}