%h2 
  Leila's milestones
  %ul
    - @milestones.each do |milestone|
      = haml :milestone, locals: {milestone: milestone}

%h2 
  New milestone
%form{ :action => "/", :method => "post"}
  %input{:type => "text", :name => "milestone[name]"}
  %input{:type => "submit", :value => "Add Milestone", :class => "button"}