!!!
%html
  %head
    %link(rel="stylesheet" media="screen, projection" href="/styles.css")
    %title My Sinatra Website
  %body
    .banner
      %img{:src => "/images/baby-cleats.jpg", :alt => "IMG"}/
      %h1 Baby Races
    = yield