%li.milestone{:id => "milestone#{milestone.id}"}
 = milestone.name
 %form.update{ :action => "milestone/#{milestone.id}", :method => "POST"}
  %input{ :type => "hidden", :name => "_method", :value => "PUT"}
  -if milestone.reached_at.nil?
   %input{ :type => "submit", :value => " ", :title => "Reached Today"}
  -else
   %input{ :type => "submit", :value => "✓", :title => "Just Kidding"}
 %form.delete{ :action => "/milestone/#{milestone.id}", :method => "POST"}
  %input{ :type => "hidden", :name => "_method", :value => "DELETE"}
  %input{ :type => "submit", :value => "remove", :title => "Delete Task"}