.milestones,
.babies{
  padding:0;
  list-style:none;
  width:400px;
}

.babies_title,
.new_baby_title,
.milestones_title,
.new_milestone_title{
  border-bottom: solid 2px #ccc;

}

.milestone{
  position:relative;
  padding:5px 0 5px 30px;
  border: solid 2px #ccc;
  margin-bottom: 5px;
}

.milestone .name{
  text-transform: uppercase;
}

.milestone .reached_at{
  font-size: .5em;
}

form.update{
  display: block;
  position:absolute;
  bottom:2px;
  left:0;
}

form.update input{
  background:white;
  padding:0 2px;
  border:solid 1px gray;
  cursor:pointer;
}

.milestones li.reached {
  color:#FF6699;
}

form.delete{
  display:inline;
}

form.delete input{
  background:gray;
  cursor:pointer;
  border:none;
  color: white;
}

form.new input.button{
  background: #66CCFF;
  font-size: 1.2em;
  border: none;
  color: white;
}

form.new input.field{
  font-size: 1.2em;
}

form.new{
  display: flex;
}

#main {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
}

#main .index {
   -webkit-flex: 1; /* Safari 6.1+ */
   flex: 1;
   padding: 20px;
   margin: 20px;
   border: 5px solid blue;

}

.index li{
  margin-bottom: 17px;
}

.index a{
  text-decoration: none;
  background: #66CCFF;
  color: white;
  padding: 5px 10px;
}

.banner{
  display: flex;
  align-items: center;
}

h1 {
  font-size: 3em;
}

.banner img{
  width: auto;
  height: 7em;
}


